<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div id="carouselid" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselid" data-slide-to="0" class="active"></li>
        <li data-target="#carouselid" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/promo3.jpg" class="d-block w-100"  alt="First slide" width="200px" height="200px">
        </div>
        <div class="carousel-item ">
          <img src="../../assets/img/promo2.jpg" class="d-block w-100" width="200px" height="200px" >
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/promo3.jpg" class="d-block w-100" width="200px" height="200px">
        </div>
      </div>
    </div>
    <div class="row">
 
  </div>
  <div class="row">
    <div class="col-12">
      <h2> Comentarios sobre las promo del día 🔥</h2>
    </div>
    <div class="col-md-12">
    <ion-list>
      <hr>
      <ion-item> @djfi: Estuvo delicioso, volveria.😆</ion-item>
      <ion-item> @carolParra: Dos por uno, mmm genial 😋😋😋</ion-item>
      <ion-item> @JessTyy32: Estoy trabajando, morira por uno ya 😒😒😒😒</ion-item>
      <ion-item> @pedro: Quien se apunta a ser mi pareja ? 😎😎😎</ion-item>
      <ion-item> @juan: Estuvo delicioso, volveria. (😆)</ion-item>
    </ion-list>
  </div>
  </div>
  
</div>
<ion-fab horizontal="end" vertical="top" slot="fixed" edge>
  <ion-fab-button color="secondary">
    <ion-icon name="alarm-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="light">
      <ion-icon name="arrow-dropleft"> 20... </ion-icon>
    </ion-fab-button>

  </ion-fab-list>
</ion-fab>
</ion-content>
