<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title ALIGN=MIDDLE>
      Mesas Mr-Express 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="t"> 
  <h2>Por favor seleccione la una mesa para continuar con su pedido</h2></div>  
    <table class="table">

      <tr>
    
        <td>
          <div class="foto">
          <div class="texto-encima">1</div>
          
          <IMG SRC="assets/img/MesasP.png" ALIGN=MIDDLE>
          </div>
        </td>

        <td>
          <div class="foto">
          <div class="texto-encima">2</div>
          <IMG SRC="assets/img/MesasQ.png" ALIGN=MIDDLE>
          </div>
        </td>
    
        <td>
          <div class="foto">
          <div class="texto-encima">3</div>
          <IMG SRC="assets/img/MesasP.png" ALIGN=MIDDLE>
          </div>  
        </td>
    
      </tr>
    
      <tr>
    
        <td>
          <div class="foto">
          <div class="texto-encima">4</div>
          <IMG SRC="assets/img/MesasQ.png" ALIGN=MIDDLE>
          </div>
        </td>
    
        <td>
          <div class="foto">
          <div class="texto-encima">5</div>
          <IMG SRC="assets/img/MesasP.png" ALIGN=MIDDLE>
          </div>  
        </td>
    
          <td>
            <div class="foto">
            <div class="texto-encima">6</div>
            <IMG SRC="assets/img/MesasQ.png" ALIGN=MIDDLE>
            </div>
          </td>
    
      </tr>

      <tr>
    
        <td>
          <div class="foto">
          <div class="texto-encima">7</div>
          
          <IMG SRC="assets/img/MesasP.png" ALIGN=MIDDLE>
          </div>
        </td>

        <td>
          <div class="foto">
          <div class="texto-encima">8</div>
          <IMG SRC="assets/img/MesasQ.png" ALIGN=MIDDLE>
          </div>
        </td>
    
        <td>
          <div class="foto">
          <div class="texto-encima">9</div>
          <IMG SRC="assets/img/MesasP.png" ALIGN=MIDDLE>
          </div>  
        </td>
    

      <tr>
    
        <td>
          <div class="foto">
          <div class="texto-encima">10</div>
          <IMG SRC="assets/img/MesasQ.png" ALIGN=MIDDLE>
          </div>
        </td>
    
          <td>
            <div class="foto">
            <div class="texto-encima">11</div>
            <IMG SRC="assets/img/MesasP.png" ALIGN=MIDDLE>
            </div>  
          </td>
    
          <td>
            <div class="foto">
            <div class="texto-encima">12</div>
            <IMG SRC="assets/img/MesasQ.png" ALIGN=MIDDLE>
            </div>
          </td>
    
      </tr>

      <tr>
    
        <td>
          <div class="foto">
          <div class="texto-encima">13</div>
          <IMG SRC="assets/img/MesasP.png" ALIGN=MIDDLE>
          </div>
        </td>

        <td>
          <div class="foto">
          <div class="texto-encima">14</div>
          <IMG SRC="assets/img/MesasQ.png" ALIGN=MIDDLE>
          </div>
        </td>
    
        <td>
          <div class="foto">
          <div class="texto-encima">15</div>
          <IMG SRC="assets/img/MesasP.png" ALIGN=MIDDLE>
          </div>  
        </td>
    

      <tr>
    
        <td>
          <div class="foto">
          <div class="texto-encima">16</div>
          <IMG SRC="assets/img/MesasQ.png" ALIGN=MIDDLE>
          </div>
        </td>
    
          <td>
            <div class="foto">
            <div class="texto-encima">17</div>
            <IMG SRC="assets/img/MesasP.png" ALIGN=MIDDLE>
            </div>  
          </td> 
    
          <td>
            <div class="foto">
            <div class="texto-encima">18</div>
            <IMG SRC="assets/img/MesasQ.png" ALIGN=MIDDLE>
            </div>
          </td>
    
      </tr>
    </table>
    

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mr-Express</ion-title>
      
    </ion-toolbar>
    
  </ion-header>


</ion-content>
